@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 600px;
  width: 800px;
  top: 0;
}

.toast-hidden {
  opacity: 0;
  transition: all 250ms linear 3s;
}

.toast-shown {
  opacity: 1;
  transition: all 250ms linear;
}
